/* main.css */

/* Styles for Hero Section */
#hero {
    background-color: #f4f4f4;
    padding: 60px 0;
    text-align: center;
}

#hero h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

#hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

#hero ul {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Align the list items to the left */
    max-width: 600px; /* Apply max-width to the list */
    margin: auto; /* Center the list horizontally */
}

#hero ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

#hero .btn {
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#hero .btn:hover {
    background-color: #0056b3;
}

.offensive-player-img {
    width: 30px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.defensive-player-img  {
    width: 30px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.previous-player-img  {
    width: 20px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 5px;
}

.player-movement-img  {
    width: 50px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 5px;
}

.button-container {
    text-align: center; /* Centers the buttons within the div */
    margin: 25px 0; /* Adds some vertical spacing */
  }

#descrip {
    font-size: 20px; /* Adjust font size as needed */
}

#legend {
    margin-top: 10px;
}

#court-container {
    display: flex;
}

#legend {
    flex: 0 0 auto; /* Ensure the legend doesn't grow or shrink */
    margin-right: 20px; /* Adjust the spacing between the legend and the basketball court */
    margin-top: 150px;
}

#basketball-court {
    flex: 1; /* Let the basketball court fill the remaining space */
}

.progress-bar-container {
    width: 100%;
    padding: 10px 0;
}

.progress-bar {
    background-color: #eee;
    height: 20px;
    border-radius: 10px;
}

.progress-bar-fill {
    background-color: blue;
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

.progress-bar-steps {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -25px;
}

.progress-step {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.navbar-light.bg-secondary {
    background-color: #f8f9fa!important; /* Light grey background for lesson nav */
}

.nav-item .nav-link {
    color: #000000 !important; /* Force text color to black */
}

.setup-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.setup-section {
    display: none;
}

.setup-section.active {
    display: block;
    flex: 1;
}

.setup-image {
    display: block;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}


#legend {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #212529;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}


.offensive-player {
    background-color: red;
}

.defensive-player {
    background-color: green;
}

#next-button, #previous-button {
    margin-top: 20px;
    margin-right: 10px;
}
#imagesblock {
    display: flex; /* Ensure images are displayed in a row */
    justify-content: center; /* Center align images horizontally */
    align-items: flex-start; /* Align images to the top */
    margin-right: 10px;
}

#next-button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#next-button:hover {
    background-color: #0056b3; /* Darker blue on hover for visual feedback */
}
