{% extends "layout.html" %}

{% block head %}
    <style>

        .offensive-player-image {
            background-image: url('{{ url_for('static', filename='red_person.png') }}');
        }

        .defensive-player-image {
            background-image: url('{{ url_for('static', filename='green_person.png') }}');
        }

        #next-button {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 8px 16px;
            font-size: 16px;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #next-button:hover {
            background-color: #0056b3; /* Darker blue on hover for visual feedback */
        }

        .content-container {
            display: flex;
            justify-content: space-between;
            align-items: start;
            width: 100%;
            margin-top: -20px;
        }


    </style>
    <script src="{{ url_for('static', filename='basketball.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="setup-container">
        <!-- 2-3 Zone Setup Section -->
        <section id="two-three-zone-setup" class="setup-section">
            <h2>Let’s start with the basics: 2-3 Zone Setup</h2>
            <ul>
                (2) The base starting position of the 2-3 zone starts with two defensive players at the right and left elbows of the paint.
                <ul>
                    <li>These two players are responsible for defending the perimeter and covering the top wings out to the three point line.</li>
                </ul>
                (3) Three players should be at the bottom aligned left, center, right in the key along the blocks.
                <ul>
                    <li>The player on the bottom left and right are responsible for stopping baseline drives and closing out on corner shooters.They also need to help inside against post plays and rebound effectively</li>
                    <li>The middle player plays in front of the basket protecting the paint and being vigilant defending against cuts, post-ups, and rebounds</li>
                </ul>
            </ul>

            <div class="content-container">
                <div id="legend">
                    <h3>LEGEND</h3>
                    <p><img src="static/red_person.png" alt="Offensive Player" class="offensive-player-img"> Offensive Player</p>
                    <p><img src="static/green_person.png" alt="Defensive Player" class="defensive-player-img"> Defensive Player</p>
                    <p><img src="static/previous_person.png" alt="Previous Player" class="previous-player-img"> Previous Position</p>
                    <p><img src="static/player_movement.png" alt="Player Movement" class="player-movement-img"> Previous Movement</p>
                </div>
                <div id="imagesblock" style="position: relative;">
                    <img src="{{ url_for('static', filename='2-3_Zone_Setup_Defen.png') }}" alt="2-3 Zone Setup" class="setup-image img-fluid" id="first-image">
                    <img src="{{ url_for('static', filename='2-3_Zone_Setup_Defen_2.png') }}" alt="2-3 Zone Setup 2" class="setup-image img-fluid" id="second-image" style="display: none;">
                    <button id="next-button" style="position: absolute; right: 0; bottom: 0;">Next</button>
                </div>
            </div>


        </section>

        <!-- Offensive Setup Section -->
        <section id="offensive-setup" class="setup-section">
            <h2>Offensive Setup</h2>
            Now let’s add 5 offensive players, we can start with one of the most common offensive setups, with five players on the outside of the three-point line!
            <ul>
                <li><strong>(PG) Point Guard:</strong> Directs the team's offense and distributes the ball from the top of the key.</li>
                <li><strong>(LW) Left Wing:</strong>  Stretches the defense laterally and provides options for perimeter shooting.</li>
                <li><strong>(RW) Right Wing:</strong>  Aims to exploit the far side of the defense with shots or drives.</li>
                <li><strong>(LB) Left Base:</strong>  Positioned to support inside plays and capitalize on baseline drives.</li>
                <li><strong>(RB) Right Base:</strong>  Helps in balancing the court and can quickly move to score from the corners.</li>
            </ul>

            <div class="content-container">
                <div id="legend">
                    <h3>LEGEND</h3>
                    <p><img src="static/red_person.png" alt="Offensive Player" class="offensive-player-img"> Offensive Player</p>
                    <p><img src="static/green_person.png" alt="Defensive Player" class="defensive-player-img"> Defensive Player</p>
                    <p><img src="static/previous_person.png" alt="Previous Player" class="previous-player-img"> Previous Position</p>
                    <p><img src="static/player_movement.png" alt="Player Movement" class="player-movement-img"> Previous Movement</p>
                </div>
                <div id="imagesblock" style="position: relative;">
                    <img src="{{ url_for('static', filename='2-3_Zone_Setup_Offen.png') }}" alt="Offensive Setup" class="setup-image img-fluid">
                </div>
            </div>
        </section>

    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            function displaySection() {
                var hash = window.location.hash || '#two-three-zone-setup';
                $('.setup-section').hide();
                $(hash).show();  // Show the section depending on the URL hash
            }

            // Call displaySection on hash change and on page load
            $(window).on('hashchange', displaySection);
            displaySection();

            // Handling the Next button click to toggle images
            $('#next-button').click(function() {
                var firstImage = $('#first-image');
                var secondImage = $('#second-image');
                if (firstImage.is(':visible')) {
                    firstImage.hide();
                    secondImage.show();
                    $(this).text('Back');  // Change button text to 'Back'
                } else {
                    secondImage.hide();
                    firstImage.show();
                    $(this).text('Next');  // Change button text back to 'Next'
                }
            });
        });
    </script>
{% endblock %}