{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static', filename='basketball.js') }}"></script>
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section id="hero">
    <div class="row">
        <div class="col-12">
            <h1>How To Run A 2-3 Zone</h1>
            <p>We are here to help you learn how to run a 2-3 zone for your basketball team. You should use a 2-3 zone when:</p>
            <ul style="text-align: left; max-width: 600px; margin: auto;">
                <li>You want to enforce better interior defense</li>
                <li>Increase your team’s ability to rebound the ball</li>
                <li>Force the other team to shoot further away from the basket</li>
            </ul>
            <a href="{{ url_for('combined_setup') }}" class="btn btn-primary ml-auto">Start</a>
        </div>
    </div>
</section>


{% endblock %}