{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static', filename='basketball.js') }}"></script>
<style>
  /* Add custom styles here or in styles.css */
  #basketball-court {
    position: relative;
    max-width: 600px;
    /* Adjust as needed */
    margin: 20px auto;
    background: url('{{ url_for("static", filename="lesson_start.png") }}') center center no-repeat;
    background-size: contain;
    height: 50vh;
    /* Adjust the height as needed */
  }

  .offensive-player {
    color: red;
  }

  .defensive-player {
    color: green;
  }

  .previous-position {
    color: lightgray
  }

  .position-movement {
    color: lightgreen
  }

  /* You need to position each player with specific top and left values, e.g., */
  .player1 {
    top: 10%;
    left: 30%;
  }

  /* Add positions for all players */

  #legend {
    /* Your styles for the legend */
  }

  #player-description {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    color: #212529;
  }

  /* Popup container - can be anything you want */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -200%;
    margin-left: -80px;
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    opacity: 0.5;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 0.5;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 0.5;
    }
  }
</style>
{% endblock %}

{% block content %}
<div id="lesson-container">
  <h2>Pass to an Offensive Player to See Defense Adjust!</h2>
  <p> As the ball moves around the offense, the defensive position of each player must change. Click on an offensive
    player (red) to give them the ball, we will then show you how the defense should react, and why!</p>
  <h3>You can click on the red players and see what happens :)</h1>
    <div id="court-container">
      <div id="legend">
        <h3>LEGEND</h3>
        <p><img src="static/red_person.png" alt="Offensive Player" class="offensive-player-img"> Offensive Player</p>
        <p><img src="static/green_person.png" alt="Defensive Player" class="defensive-player-img"> Defensive Player</p>
        <p><img src="static/previous_person.png" alt="Previous Player" class="previous-player-img"> Previous Position
        </p>
        <p><img src="static/player_movement.png" alt="Player Movement" class="player-movement-img"> Previous Movement
        </p>
      </div>
      <div id="image-container" style="position: relative;">
        <div class="popup">
          <span class="popuptext" id="startscreen">Try click the Red Players!</span>
        </div>
        <img src='{{ url_for("static", filename="lesson_start.png") }}' alt="Basketball Court" id="basketball-court">

        <div class="clickable-area player-button popup"
          style="position: absolute; top: 73%; left: 1%; width: 10%; height: 15%;" data-player="1" id="player-1-button">
          <span class="popuptext" id="myPopup1">Try Click Me!</span>
        </div>
        <div class="popup clickable-area player-button"
          style="position: absolute; top: 26%; left: 12%; width: 10%; height: 15%;" data-player="1"
          id="player-2-button">
          <span class="popuptext" id="myPopup2"></span>
        </div>
        <div class="popup clickable-area player-button"
          style="position: absolute; top: 15%; left: 45%; width: 10%; height: 15%;" data-player="1"
          id="player-3-button">
          <span class="popuptext" id="myPopup3"></span>
        </div>
        <div class="popup clickable-area player-button"
          style="position: absolute; top: 26%; left: 78%; width: 10%; height: 15%;" data-player="1"
          id="player-4-button">
          <span class="popuptext" id="myPopup4"></span>
        </div>
        <div class="popup clickable-area player-button"
          style="position: absolute; top: 73%; left: 89%; width: 10%; height: 15%;" data-player="1"
          id="player-5-button">
          <span class="popuptext" id="myPopup5"></span>
        </div>
      </div>

    </div>
    <div class="progress-bar-container">
      <div>Click Each Player At Least 2 Times to Complete the Lesson</div>
      <div class="progress-bar">
        <div class="progress-bar-fill" style="width: 16.66%;"></div>
        <!-- Adjust the width based on the current progress -->
      </div>
      <div class="progress-bar-steps">
      </div>
      <div class="row"> &nbsp </div>


    </div>
    <div style="height: 30px;">

    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-3">
        </div>
        <div class="col-3" id="showNext">
        </div>
      </div>
    </div>


</div>



{% endblock %}